@model MesaViewModel

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel">Adicionar Nova Mesa</h2>
            <button type="button" class="close" data-dismiss="modal">
                <span>x</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Numero)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Numero)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.QntCadeira)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.QntCadeira)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.QntCliente)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.QntCliente)
                    </dd>
                </dl>
            </form>     
        </div>
    </div>
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 