@model IEnumerable<WebApplication.Models.MesaViewModel>

@{
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>

<button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action("Adicionar")">Adicionar Mesa</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action($"Alterar/{item.Id}")">Alterar</button>
                        <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#myModal" data-url="@Url.Action($"Detalhar/{item.Id}")">Detalhes</button>
                        @Html.ActionLink("Deletar", "Deletar", new {  id=item.Id  } , new { @class = "btn btn-outline-danger", @onClick = "javascript:return" + " confirm('Confirma a Exclusão?')" })
                    </td>
                </tr>
        }
    </tbody>
</table>
